<div class="container d-flex justify-content-center profile-container">
  <div class="row align-items-center">
    <h2 class="mx-5 h2-profile font-weight-bolder">Bonjour, <%= current_user.name %></h2>
    <div class="col profile-img-card">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, height: 90, width: 100, crop: :fill %>
      <% else %>
        <%= image_tag "power_bank1.jpg.jpg", class: "profile-img" %>
      <% end %>
    </div>
    <div class="col">
        <p>Name : <%= current_user.name %></p>
        <p>Phone Number : <%= current_user.phone_number %></p>
        <%= link_to "Update Profile", edit_user_registration_path, class: "btn btn-success your-button" %>
    </div>
  </div>
</div>


<div class="container mt-5">
  <% if @reservations.present? %>
    <h2>Reservations Request</h2>
    <div class="cards">
      <% @reservations.each do |reservation| %>
        <div class="card">
          <p>Start date: <%= reservation.start_date %></p>
          <p>End date: <%= reservation.end_date %></p>
          <p>Powerbank: <%= reservation.powerbank_id %></p>
          <p>Status: <%= reservation.validated %></p>

          <%= link_to "Accept", reservation_accepted_path(reservation), data: {turbo_method: :patch} %>
          <%= link_to "Decline", reservation_decline_path(reservation), data: {turbo_method: :patch} %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class= "container mt-5">
<h2 >Your Powerbanks</h2>
</div>
<div class= "display">
  <div class="cards" >
    <% @powerbank.each do |powerbank| %>
    <div class="card">
            <img src="https://source.unsplash.com/random/?shop" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title"><%= link_to powerbank.title, powerbank_path(powerbank.id)%></h5>
            <p class="card-text"><%= powerbank.description %></p>
            <p class="card-text"><%= powerbank.adress %></p>
            <p class="card-text"><%= powerbank.price %>€</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
