<div class="title">
    <h1>My reservations</h1>
</div>

<div class="display">

 <div class="cards">
      <% @reservations.each do |reservation| %>
      <div class="card">
              <img src="https://source.unsplash.com/random/?shop" class="card-img-top" alt="image">
          <div class="card-body">
            <div >
              <h5 class="card-title"><%= reservation.powerbank.title %></h5>
            </div>
            <div>
              <p class="card-text card-address"><%= reservation.powerbank.adress %></p>
            </div>
            <strong>from</strong>
            <div>
              <p class="card-text card-footer"><%= reservation.start_date %>hour</p>
            </div>
            <strong>to</strong>
            <div>
              <p class="card-text card-footer"><%= reservation.end_date %> hour</p>
            </div>
            <div>
              <%= link_to "Delete", reservation_path(Reservation.find(reservation.id)), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class:"btn-green" %>
            </div>
          </div>
      </div>
      <% end %>
    </div>

<%# MAPBOX MAP %>

    <div class="map" style="width: 100%; height: 600px;"
        data-controller="map2"
        data-map2-reservations-value="<%= @markers.to_json %>"
        data-map2-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <%# MAPBOX MAP %>

</div>
