<div class="title">
      <h1>Powerbanks List</h1>
      <%= link_to "Add a new powerbank", new_powerbank_path, class:"btn btn-success link-add-index" %>
</div>


<div class="display">

  <div class="cards" >
    <% @powerbanks.each do |powerbank| %>
     <div class="card">
            <img src="https://source.unsplash.com/random/?shop" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title"><%= link_to powerbank.title, powerbank_path(powerbank.id)%></h5>
            <p class="card-text"><%= powerbank.description %></p>
            <p class="card-text"><%= powerbank.adress %></p>
            <p class="card-text"><%= powerbank.price %>€</p>
        </div>
      </div>
    <% end %>
  </div>
<%# MAPBOX MAP %>
      <div>
          <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoidGhlb2JvbmRheiIsImEiOiJjbGEyZjhhMTIwZmZhM3dtem5mYTExdTkyIn0.O6n6cG77lq8S9ay3vaJGFw'>
      </div>
<%# MAPBOX MAP %>
</div>
