<div class="container">
  <div class="powerbank-infos">
    <img src="https://source.unsplash.com/random/?shop" alt="places">
    <div class="avis-infos">
      <h2><%= @powerbank.title %></h2>
      <p>Adress: <%= @powerbank.adress %></p>
      <p>Description: <%= @powerbank.description %></p>
      <h3>Price: <%= @powerbank.price %></h3>

      <%= link_to "Edit", edit_powerbank_path %>

      <%= link_to "Delete", powerbank_path(Powerbank.find(params[:id])), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
    </div>
  </div>

  <div class="reservation">
    <h4><%= @powerbank.title %></h4>
    <%= render "reservations/form_reservation", reservation: @reservation %>
  </div>

</div>
